<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mobi.maptrek">

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <permission
        android:name="${applicationId}.permission.READ_FILES"
        android:description="@string/permReadFilesDescription"
        android:label="@string/permReadFilesLabel"
        android:protectionLevel="normal" />
    <permission
        android:name="${applicationId}.permission.WRITE_FILES"
        android:description="@string/permWriteFilesDescription"
        android:label="@string/permWriteFilesLabel"
        android:protectionLevel="signature" />
    <permission
        android:name="${applicationId}.permission.RECEIVE_LOCATION"
        android:description="@string/permReceiveLocationDescription"
        android:label="@string/permReceiveLocationLabel" />
    <permission
        android:name="${applicationId}.permission.READ_MAP_DATA"
        android:description="@string/permReadMapDataDescription"
        android:label="@string/permReadMapDataLabel"
        android:protectionLevel="signature" />
    <permission
        android:name="${applicationId}.permission.WRITE_MAP_DATA"
        android:description="@string/permWriteMapDataDescription"
        android:label="@string/permWriteMapDataLabel"
        android:protectionLevel="signature" />
    <permission
        android:name="${applicationId}.permission.ADD_PLUGIN_ENTRIES"
        android:description="@string/permAddPluginEntriesDescription"
        android:label="@string/permAddPluginEntriesLabel"
        android:protectionLevel="normal" />

    <application
        android:name=".MapTrek"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="merge">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="mobi.maptrek.action.CENTER_ON_COORDINATES" />
                <action android:name="mobi.maptrek.action.NAVIGATE_TO_OBJECT" />
                <action android:name="mobi.maptrek.action.NAVIGATE_TO_POINT" />
                <action android:name="mobi.maptrek.action.MOVE_DATA" />
                <action android:name="mobi.maptrek.action.RESET_ADVICES" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="geo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="osm.org" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroductionActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DataMoveActivity"
            android:label="@string/intentMoveData"
            android:theme="@android:style/Theme.Material.Light.Dialog" />

        <service
            android:name=".location.LocationService"
            android:foregroundServiceType="location"
            android:permission="${applicationId}.permission.RECEIVE_LOCATION">
            <intent-filter>
                <action android:name="${applicationId}.location" />
                <action android:name="${applicationId}.location.ILocationRemoteService" />
            </intent-filter>
        </service>
        <service
            android:name=".location.NavigationService"
            android:exported="false" />
        <service
            android:name=".location.GraphHopperService"
            android:exported="false"/>
        <service
            android:name=".maps.MapService"
            android:exported="false" />

        <provider
            android:name=".provider.ExportProvider"
            android:authorities="${applicationId}.files"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="${applicationId}.permission.READ_FILES"
            android:writePermission="${applicationId}.permission.WRITE_FILES" />
        <provider
            android:name=".provider.DataProvider"
            android:authorities="${applicationId}.data"
            android:exported="true"
            android:readPermission="${applicationId}.permission.READ_MAP_DATA"
            android:writePermission="${applicationId}.permission.WRITE_MAP_DATA" />

        <receiver android:name=".DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".WaypointsRestoreReceiver"
            android:exported="false">
            <intent-filter android:priority="-10">
                <action android:name="mobi.maptrek.event.WaypointsRestored" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".plugin.PluginEntryReceiver"
            android:permission="${applicationId}.permission.ADD_PLUGIN_ENTRIES">
            <intent-filter>
                <action android:name="mobi.maptrek.plugin.NewEntry" />
            </intent-filter>
        </receiver>
    </application>

</manifest>