<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <permission
        android:name="mobi.maptrek.permission.READ_FILES"
        android:description="@string/permReadFilesDescription"
        android:label="@string/permReadFilesLabel"
        android:protectionLevel="normal" />
    <permission
        android:name="mobi.maptrek.permission.WRITE_FILES"
        android:description="@string/permWriteFilesDescription"
        android:label="@string/permWriteFilesLabel"
        android:protectionLevel="signature" />
    <permission
        android:name="mobi.maptrek.permission.RECEIVE_LOCATION"
        android:description="@string/permReceiveLocationDescription"
        android:label="@string/permReceiveLocationLabel" />
    <permission
        android:name="mobi.maptrek.permission.READ_MAP_DATA"
        android:description="@string/permReadMapDataDescription"
        android:label="@string/permReadMapDataLabel"
        android:protectionLevel="signature" />
    <permission
        android:name="mobi.maptrek.permission.WRITE_MAP_DATA"
        android:description="@string/permWriteMapDataDescription"
        android:label="@string/permWriteMapDataLabel"
        android:protectionLevel="signature" />
    <permission
        android:name="mobi.maptrek.permission.ADD_PLUGIN_ENTRIES"
        android:description="@string/permAddPluginEntriesDescription"
        android:label="@string/permAddPluginEntriesLabel"
        android:protectionLevel="normal" />

    <application
        android:name=".MapTrek"
        android:allowBackup="true"
        android:fullBackupContent="@xml/old_backup_scheme"
        android:dataExtractionRules="@xml/new_backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:node="merge">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="mobi.maptrek.action.CENTER_ON_COORDINATES" />
                <action android:name="mobi.maptrek.action.NAVIGATE_TO_OBJECT" />
                <action android:name="mobi.maptrek.action.NAVIGATE_TO_POINT" />
                <action android:name="mobi.maptrek.action.RESET_ADVICES" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="geo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="osm.org" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataImportActivity"
            android:label="@string/intentImportData"
            android:theme="@android:style/Theme.Material.Light.Dialog"
            android:exported="true">
            <intent-filter android:label="@string/intentImportData">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- KML from file managers -->
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.kml"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.kmz"
                    android:scheme="file" />
                <!-- GPX from file managers -->
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.gpx"
                    android:scheme="file" />
                <!-- MBTiles from file managers -->
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.mbtiles"
                    android:scheme="file" />
                <!-- SQLite from file managers -->
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.sqlitedb"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter android:label="@string/intentImportData">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- KML from DownloadManager -->
                <data
                    android:mimeType="application/vnd.google-earth.kml+xml"
                    android:scheme="content" />
                <data
                    android:mimeType="application/vnd.google-earth.kmz"
                    android:scheme="content" />
                <data
                    android:mimeType="text/xml"
                    android:scheme="content" />
                <!-- GPX, MBTiles, SQLite from DownloadManager -->
                <data
                    android:mimeType="application/gpx+xml"
                    android:scheme="content" />
                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="content" />
                <data
                    android:mimeType="text/plain"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter android:label="@string/intentImportData">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- SEND action does not have scheme -->
                <data android:mimeType="application/vnd.maptrek.mtrack" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="application/vnd.google-earth.kml+xml" />
                <data android:mimeType="application/vnd.google-earth.kmz" />

            </intent-filter>
            <intent-filter android:label="@string/intentImportData">
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- SEND action does not have scheme -->
                <data android:mimeType="application/vnd.maptrek.mtrack" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="application/vnd.google-earth.kml+xml" />
                <data android:mimeType="application/vnd.google-earth.kmz" />

            </intent-filter>
        </activity>
        <activity
            android:name=".IntroductionActivity"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".location.LocationService"
            android:foregroundServiceType="location"
            android:permission="mobi.maptrek.permission.RECEIVE_LOCATION"
            android:exported="true">
            <intent-filter>
                <action android:name="mobi.maptrek.location" />
                <action android:name="mobi.maptrek.location.ILocationRemoteService" />
            </intent-filter>
        </service>
        <service
            android:name=".location.NavigationService"
            android:exported="false" />
        <service
            android:name=".location.GraphHopperService"
            android:exported="false"/>
        <service
            android:name=".maps.MapService"
            android:exported="false" />

        <provider
            android:name=".provider.ExportProvider"
            android:authorities="mobi.maptrek.files"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="mobi.maptrek.permission.READ_FILES"
            android:writePermission="mobi.maptrek.permission.WRITE_FILES" />
        <provider
            android:name=".provider.DataProvider"
            android:authorities="mobi.maptrek.data"
            android:exported="true"
            android:readPermission="mobi.maptrek.permission.READ_MAP_DATA"
            android:writePermission="mobi.maptrek.permission.WRITE_MAP_DATA" />

        <receiver android:name=".DownloadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".WaypointsRestoreReceiver"
            android:exported="true">
            <intent-filter android:priority="-10">
                <action android:name="mobi.maptrek.event.WaypointsRestored" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".plugin.PluginEntryReceiver"
            android:permission="mobi.maptrek.permission.ADD_PLUGIN_ENTRIES"
            android:exported="true">
            <intent-filter>
                <action android:name="mobi.maptrek.plugin.NewEntry" />
            </intent-filter>
        </receiver>
    </application>

</manifest>