<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <permission
        android:name="mobi.maptrek.permission.READ_FILES"
        android:description="@string/permReadFilesDescription"
        android:label="@string/permReadFilesLabel"
        android:protectionLevel="normal" />
    <permission
        android:name="mobi.maptrek.permission.WRITE_FILES"
        android:description="@string/permWriteFilesDescription"
        android:label="@string/permWriteFilesLabel"
        android:protectionLevel="signature" />
    <permission
        android:name="mobi.maptrek.permission.RECEIVE_LOCATION"
        android:description="@string/permReceiveLocationDescription"
        android:label="@string/permReceiveLocationLabel"
        android:protectionLevel="normal" />
    <permission
        android:name="mobi.maptrek.permission.READ_MAP_DATA"
        android:description="@string/permReadMapDataDescription"
        android:label="@string/permReadMapDataLabel"
        android:protectionLevel="normal" />
    <permission
        android:name="mobi.maptrek.permission.WRITE_MAP_DATA"
        android:description="@string/permWriteMapDataDescription"
        android:label="@string/permWriteMapDataLabel"
        android:protectionLevel="normal" />
    <permission
        android:name="mobi.maptrek.permission.ADD_PLUGIN_ENTRIES"
        android:description="@string/permAddPluginEntriesDescription"
        android:label="@string/permAddPluginEntriesLabel"
        android:protectionLevel="normal" />

    <queries>
        <intent>
            <action android:name="mobi.maptrek.maps.online.provider.action.INITIALIZE" />
        </intent>
        <intent>
            <action android:name="mobi.maptrek.maps.offline.provider.action.INITIALIZE"/>
        </intent>
        <intent>
            <action android:name="mobi.maptrek.plugins.action.INITIALIZE" />
        </intent>
    </queries>

    <application
        android:name=".MapTrek"
        android:enableOnBackInvokedCallback="true"
        android:hasFragileUserData="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/old_backup_scheme"
        android:dataExtractionRules="@xml/new_backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="mobi.maptrek.action.CENTER_ON_COORDINATES" />
                <action android:name="mobi.maptrek.action.NAVIGATE_TO_OBJECT" />
                <action android:name="mobi.maptrek.action.NAVIGATE_TO_POINT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="geo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataImportActivity"
            android:label="@string/intentImportData"
            android:theme="@android:style/Theme.Material.Light.Dialog"
            android:exported="true">
            <intent-filter android:label="@string/intentImportData">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:mimeType="*/*"/>
                <!-- KML from file managers -->
                <data android:pathPattern=".*\\.kml"/>
                <data android:pathPattern=".*\\.kmz"/>
                <!-- GPX from file managers -->
                <data android:pathPattern=".*\\.gpx"/>
                <!-- MBTiles from file managers -->
                <data android:pathPattern=".*\\.mbtiles"/>
                <!-- SQLite from file managers -->
                <data android:pathPattern=".*\\.sqlitedb"/>
            </intent-filter>
            <intent-filter android:label="@string/intentImportData">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content"/>
                <!-- KML from DownloadManager -->
                <data android:mimeType="application/vnd.google-earth.kml+xml"/>
                <data android:mimeType="application/vnd.google-earth.kmz"/>
                <data android:mimeType="text/xml"/>
                <!-- GPX, MBTiles, SQLite from DownloadManager -->
                <data android:mimeType="application/gpx+xml"/>
                <data android:mimeType="application/octet-stream"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter android:label="@string/intentImportData">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- SEND action does not have scheme -->
                <data android:mimeType="application/vnd.maptrek.mtrack" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="application/vnd.google-earth.kml+xml" />
                <data android:mimeType="application/vnd.google-earth.kmz" />

            </intent-filter>
            <intent-filter android:label="@string/intentImportData">
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- SEND action does not have scheme -->
                <data android:mimeType="application/vnd.maptrek.mtrack" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="application/vnd.google-earth.kml+xml" />
                <data android:mimeType="application/vnd.google-earth.kmz" />

            </intent-filter>
        </activity>
        <activity
            android:name=".IntroductionActivity"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".location.LocationService"
            android:foregroundServiceType="location"
            android:permission="mobi.maptrek.permission.RECEIVE_LOCATION"
            android:exported="true">
            <intent-filter>
                <action android:name="mobi.maptrek.location" />
                <action android:name="mobi.maptrek.location.ILocationRemoteService" />
            </intent-filter>
        </service>
        <service
            android:name=".location.NavigationService"
            android:foregroundServiceType="location"
            android:exported="false"/>
        <service
            android:name=".location.GraphHopperService"
            android:foregroundServiceType="shortService"
            android:exported="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="shortService"
            tools:node="merge" />

        <!--
        Disable Android Startup (for custom Worker Manager initialization)
        https://developer.android.com/topic/libraries/app-startup#manual
        -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>
        <provider
            android:name=".provider.ExportProvider"
            android:authorities="mobi.maptrek.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/export_file_paths" />
        </provider>
        <provider
            android:name=".provider.DataProvider"
            android:authorities="mobi.maptrek.data"
            android:exported="true"
            android:readPermission="mobi.maptrek.permission.READ_MAP_DATA"
            android:writePermission="mobi.maptrek.permission.WRITE_MAP_DATA">
        </provider>

        <receiver
            android:name=".DownloadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".WaypointsRestoreReceiver"
            android:exported="true">
            <intent-filter android:priority="-10">
                <action android:name="mobi.maptrek.event.WaypointsRestored" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".plugin.PluginEntryReceiver"
            android:permission="mobi.maptrek.permission.ADD_PLUGIN_ENTRIES"
            android:exported="true">
            <intent-filter>
                <action android:name="mobi.maptrek.plugin.NewEntry" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
